<div id="content">
</div>

<script type="text/javascript">

  window.FollowFocus = window.FollowFocus || {};

  window.FollowFocus.images = {
    logo: "<%= image_path('logo2.png') %>",
    uploadButton: "<%= image_path('upload.png') %>"
  }
</script>
