<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FollowFocus, <%= @user.username %></h1>

    <p>
      You are now a member of the greatest website on earth.
    </p>
    <p>
      You can login <a href="<%= @url %>">here</a>
    </p>
    <p>
      We look forward to seeing the world through your lens.
    </p>
  </body>
</html>
