.album-index {
    width: 1280px;
}

.index-item-container {
  float: left;
  position: relative;
  overflow: hidden;
  display: table;
  width: 300px;
  height: 300px;
  margin: 5px;

}

.album-index-container {
  width: 100%;
  display: block;
}

.album-index-container ul {
  margin: 20px calc(50% - 700px);
  display: inline-block;
  text-align: center;
}

.album-index-item {
  float: left;
  position: relative;
  overflow: hidden;
  display: table;
  width: 300px;
  height: 300px;
  margin: 5px;

  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 900;
  text-decoration: none;
}

.index-item-container > img {
  display: block;
  position: absolute;
  opacity: 1;
  transition: all 300ms;
}

.index-item-container:hover > img {
  opacity: .6;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.album-index-item-text {
  opacity: .6;
  transition: opacity 300ms;
  z-index: 100;
}

.album-index-item:hover .album-index-item-text {
  opacity: 1;
}

.new-album-form {
  position: absolute;
  left: calc(50% + 200px);
  top: 330px;
  display: block;
}

.new-album-form div {

}

.new-album-form button {
  width: 170px;
  padding: 10px;
  color: #494949;
  background: #212121;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms;
}

.new-album-form button:hover {
  background: #b36565;
  color: white;
}

.album-title-form {
  height: 30px;
  width: 500px;
  margin: auto;
}

.album-title {
  cursor: pointer;
  background: transparent;
  color: white;
  font-size: 28px;
  margin: 0px auto 20px auto;
  border: 0;
  padding: 0;
  width: 500px;
  transition: color 300ms;
}

.album-title:hover {
  color: #b36565;
}

.album-title:focus {
  outline: none;
  cursor: text;
}

.cancel-edit {
  display: inline;
  font-size: 24px;
  line-height: .5;
  cursor: pointer;
  color: #b36565;
  transition: color 300ms;
}

.cancel-edit:hover {
  color: #954a4a;
}
