.comments-section {
  width: 840px;
  margin: 300px auto 30px auto;
  text-align: left;
  overflow: hidden;

  background: #212121;
  padding: 20px;

  border-radius: 10px;
}

.comments-index {
  background: #000;
  overflow: scroll;
}

#comment_body {
  width: 834px;
  height: 30px;
  margin-bottom: 3px;
  padding: 3px;
  border-radius: 5px;
  border: 0;
}

#comment_body:focus {
  outline: none;
}

.submit-comment {
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  width: 840px;
  background: #2aaeb8;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px auto 0 auto;
}
