.create-page {
  min-height: 1000px;
  background-image: url(image_path("jagged.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
}

.create-logo {
  margin-top: 200px;
  width: 400px;
  opacity: .9;
}

.create-header {
  margin: 0;
  padding: 0;
}

.create-form {
  position: relative;
  margin: auto;
  color: white;
  background: rgba(38, 38, 38, 0.5);
  width: 400px;
  border-radius: 0px;
  height: 300px;
}

.create-form input {
  width: 300px;
  height: 40px;
  font-size: 22px;
  border: 0;
  text-align: center;
  opacity: .8;
  border-radius: 0px;
  padding: 0px;
  border: 0;
}

.email-create {
  margin-top: 60px;
  border-radius: 0px;
  padding: 0px;
  border: 0;
}

.username-create {
  margin-top: 0px;
  border-radius: 0px;
  padding: 0px;
  border: 0;
}

.password-create {
  margin-top: 0px;
  border-radius: 0px;
  padding: 0px;
  border: 0;
}

.create-form input:focus {
  outline: none;
}

.create-form h3 {
  margin: 0px auto;
  color: white;
  padding: 10px;
  font-size: 28px;
  font-weight: 500;
}

.create-button {
  cursor: pointer;
  font-size: 22px;
  background: #58b3ba;
  width: 300px;
  height: 42px;
  transition: background 200ms;
}

.create-button:hover {
  background: #58dcb2;
}

.login-link {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  left: 175px;
  transition: color 300ms;
}

.login-link:hover {
  color: #58dcb2;
}
