.exif-container {
  float: right;
  // position: absolute;
  // right: calc(50% - 470px);

}

.exif-table {
  margin: 31px 0px;
  width: 400px;
  height: 230px;
  text-align: left;
  display: table;
  // border-radius: 10px;
  border-spacing: 20px;

  background: #f3f3f3;
  color: #494949;
}

.exif-table > td {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

.exif-table > td {
  border-bottom: 1px solid gray;
}
