.explore-tag {
  padding: 6px 10px 6px 10px;
  color: #fff;
  background: #2aaeb8;
  text-decoration: none;
  margin: 0px 5px 10px 5px;
  border-radius: 5px;
  font-size: 13px;
  transition: all 300ms;
  cursor: pointer;
}

.explore-tag.inactive {
  background: #b36565;
}

.explore-tags-index {
  width: 70%;
  margin: auto;
}
