.gallery {
  padding-top: 0px;
  width: 100%;
  margin: auto;
}

.gallery-photos-container {

}

.gallery-photo-container {
  position: relative;
  margin-bottom: 10px;
}

.gallery-photo {
  display: block;
}

.gallery-photo img {
  margin-bottom: 5px;
}

.gallery-photo-container:hover .gallery-photo-info-box {
  opacity: .7;
}

.gallery-photo-info-box {
  opacity: 0;
  transition: opacity 300ms;
  bottom: 10px;

  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  height: 50px;
  background: #f3f3f3;

  color: #494949;
  text-decoration: none;
}

.gallery-photo-info-box li {
  float: left;
  padding: 10px;
  text-align: left;

}

.gallery-photo-info-box a {
  text-decoration: none;
  color: #494949;;
}

.ul1 {
  position: absolute;
  left: 0px;
  bottom: 7px;

}

.ul2 {
  float: right;
  position: absolute;
  right: 0px;
  bottom: 7px;
}

.info-box-photo-title {
  margin: auto;
  padding-top: 16px;
  font-weight: 500;
}

.refresh-gallery {
  width: 50px;
  margin: -18px auto 20px auto;
  cursor: pointer;
  font-family: Lucida Sans Unicode;
  font-size: 30px;
  color: #494949;
  transition: all 300ms;
}

.refresh-gallery:hover {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  opacity: .7;
}
