.gallery {
  padding-top: 50px;
  width: 100%;
  margin: auto;
}

.gallery-photos-container {

}

.gallery-photo-container {
  position: relative;
  margin-bottom: 10px;
}

.gallery-photo {
  display: block;
}

.gallery-photo img {
  box-shadow: #000 0 2px 2px;
  margin-bottom: 5px;
}

.gallery-photo-container:hover .gallery-photo-info-box {
  opacity: .7;
}

.gallery-photo-info-box {
  opacity: 0;
  transition: opacity 300ms;
  bottom: 10px;

  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;

  margin: auto;
  height: 50px;
  background: #171717;

  color: white;
  text-decoration: none;
}

.gallery-photo-info-box li {
  float: left;
  padding: 10px;
  text-align: left;

}

.gallery-photo-info-box a {
  text-decoration: none;
  color: white;
}

.ul1 {
  position: absolute;
  left: 0px;
  bottom: 7px;

}

.ul2 {
  float: right;
  position: absolute;
  right: 0px;
  bottom: 7px;
}

.info-box-photo-title {
  margin: auto;
  padding-top: 13px;
}
