.photo-map {
  float: left;
  width: 400px;
  height: 230px;
  overflow: hidden;
  background: #f3f3f3;
  color: #494949;
  margin: 31px 0px;
}

.empty-photo-map {
  float: left;
  width: 400px;
  height: 230px;
  overflow: hidden;
  background: #f3f3f3;
  color: #494949;
  margin: 31px 0px;
}

.empty-map-text {
  margin-top: 104px;
}

.map-and-exif {
  width: 880px;
  margin: auto;
}
