.photo-map {
  float: left;
  position: absolute;
  left: 280px;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  top: 731px;
  background: #212121;
  color: #494949;
}

.empty-photo-map {
  float: left;
  position: absolute;
  left: 280px;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  top: 731px;
  background: #212121;
  color: #494949;
}

.empty-map-text {
  margin-top: 100px;
}
