.photo-map {
  float: left;
  position: absolute;
  left: 307px;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  top: 716px;
  background: #212121;
  color: #494949;
}

.empty-photo-map {
  float: left;
  position: absolute;
  left: 307px;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  top: 716px;
  background: #212121;
  color: #494949;
}

.empty-map-text {
  margin-top: 104px;
}
