nav {
  height: 70px;
  color: white;
  display: block;
}

.navbar-container {
  z-index: 100;
  width: 100%;
  height: 70px;
  background: rgba(38, 38, 38, 0.7);
  /*background: #262626;*/
  position: fixed;
  padding-bottom: 10px;
}

.navbar {
  display: block;
  margin: auto;
  width: 1200px;
  height: 100%;
  margin-left: calc(50% - 600px);
  position: relative;
}

.logo {
  margin-top: 3px;
  float: left;
  padding: 0px 0px 0px 30px;
  height: 100%;
  opacity: 1.0;

  transition: opacity 300ms;
}

.logo:hover {
  opacity: .7;
}

.navbar > li > .link.to-home {
  margin: 0 0 0 30px;
}

.navbar > li {
  display: inline-block;
  float: left;
  margin: 29px 30px;
  transition: color 300ms;
}

.navbar > li:hover {
  color: #69ebdd;
}

.box {
  position: absolute;
  left: 755px;
  top: 23px;
}

.container-2 {
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search {
  width: 30px;
  height: 30px;
  background: #353535;
  border: none;
  font-size: 10pt;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-2 input#search:-moz-placeholder {
   color: #65737e;
}

.container-2 input#search::-moz-placeholder {
   color: #65737e;
}

.container-2 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-2 .icon {
  position: absolute;
  top: 5px;
  margin-left: 10px;
  z-index: 1;
  color: #93a2ad;
  opacity: .4;
  transition: opacity .55s;
}

.container-2 input#search:focus, .container-2 input#search:active {
  outline: none;
  width: 210px;
}

.container-2:hover input#search {
  width: 210px;
}

.container-2:hover .icon {
  opacity: 1;
}

.upload-link {
  width: 40px;
  margin: 20px 0px;
}

.upload-button {
  margin: 22px 125px 0px 0px;
  width: 40px;
  opacity: 1.0;
  transition: opacity 300ms;
  float: right
}

.upload-button:hover {
  opacity: .7;
}

.logo-lens {
  position: absolute;
  left: 223px;
  width: 35px;
  top: 20px;

  -webkit-animation:spin .5s linear;
  -moz-animation:spin .5s linear;
  animation:spin .5s linear;
  transition: transform .5s;
}

.logo-lens:hover {
  transform: rotate(60deg)
}

.login-logout {
  position: absolute;
  top: 28px;
  right: 50px;
  font-size: 14px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms;
  text-decoration: none;
  color: white;
}

.login-logout:hover {
  opacity: .6;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
