
.navbar {
  display: block;
  height: 70px;
  position: relative;
}

.logo {
  float: left;
  padding: 0px 0px 0px 30px;
  height: 100%;
  opacity: 1.0;

  transition: opacity 300ms;
}

.logo:hover {
  opacity: .7;
}

.navbar > li {
  display: inline-block;
  float: left;
  margin: 29px 60px;
  transition: color 300ms;
}

.navbar > li:hover {
  color: #69ebdd;
}

.upload-link {
  width: 40px;
  margin: 20px 0px;
}

.upload-button {
  margin: 20px 0px;
  width: 40px;
  opacity: 1.0;
  transition: opacity 300ms;
}

.upload-button:hover {
  opacity: .7;
}

.logo-lens {
  position: absolute;
  left: 223px;
  width: 35px;
  top: 17px;

  -webkit-animation:spin .5s linear;
  -moz-animation:spin .5s linear;
  animation:spin .5s linear;
  transition: transform .5s;
}

.logo-lens:hover {
  transform: rotate(60deg)
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
