.parent-container {
  background: #f3f3f3;
  margin: 10px auto 5px auto;
  width: auto;
  height: 600px;
  position: relative;
}

.photo-container {
  margin: auto;
  text-align: center;
  width: auto;
  height: 600px;
}

.photo-container img {
  width: auto;
  height: 100%;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  transition: all 500ms;
  position: relative;
}

.photo-container .bigger {
  transform: scale(1.4) translateY(12%);
  -webkit-transform: scale(1.4) translateY(12%);
  -moz-transform: scale(1.4) translateY(12%);
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
  z-index: 102;
}

.prev-photo {
  width: 60px;
  height: 40px;

  cursor: pointer;

  background: gray;
  color: #ffffff;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  position: absolute;
  top: calc(50% - 20px);
  right: 100%;

  opacity: 0;
  z-index: 1;

  transition: all 500ms;
}

.next-photo {
  width: 60px;
  height: 40px;

  cursor: pointer;

  background: gray;
  color: white;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: right;
  position: absolute;
  top: calc(50% - 20px);
  left: 100%;

  opacity: 0;
  z-index: 1;

  transition: all 500ms;
}

.next-photo-text {
  position: absolute;
  top: 12px;
  right: 8px;
  opacity: 0;

  transition: all 500ms;
}

.prev-photo-text {
  position: absolute;
  top: 12px;
  left: 8px;

  opacity: 0;

  transition: all 500ms;
}

.parent-container:hover .next-photo-text, .parent-container.hovered .next-photo-text {
  opacity: .7;
  z-index: 103;
}

.parent-container:hover .prev-photo-text, .parent-container.hovered .prev-photo-text {
  opacity: .7;
  z-index: 103;
}

.parent-container:hover .next-photo, .parent-container.hovered .next-photo {
  opacity: .7;
  left: calc(100% - 60px);
  z-index: 103;
}

.parent-container:hover .prev-photo, .parent-container.hovered .prev-photo {
  opacity: .7;
  right: calc(100% - 60px);
  z-index: 103;
}

.parent-container .next-photo:hover {
  opacity: 1;
}

.parent-container .prev-photo:hover {
  opacity: 1;
}

.parent-container .next-photo:hover {
  opacity: 1;
}

.prev-photo:hover .prev-photo-text {
  opacity: 1;
}

.next-photo:hover .next-photo-text {
  opacity: 1;
}

.back-to-album {
  color: #262626;
  text-decoration: none;
  position: absolute;
  left: 10px;
  bottom: 10px;
  opacity: 0;
  transition: opacity 300ms;
  z-index: 1;
}

.parent-container:hover .back-to-album {
  opacity: .5;
}

.parent-container .back-to-album:hover {
  opacity: .8;
}

.view-original {
  color: #494949;
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  transition: opacity 300ms;
  z-index: 1;
}

.parent-container:hover .view-original {
  opacity: .5;
}

.parent-container .view-original:hover {
  opacity: .8;
}

.modal {
  background: #000;
  opacity: .8;
  z-index: 101;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

.modal.active {
  transform: scaleY(1.1);
  -webkit-transform: scaleY(1.1);
  -moz-transform: scaleY(1.1);
}

.spinner {
  width: 80px;
  height: 80px;
  margin: auto;
  transform: translateY(250%);
  -webkit-transform: translateY(250%);
}
