.photo-index-preview {
  margin: 10px;
}

.photo-thumbnail-container {
  margin: 20px;
  width: 100px;
  height: 100px;
  float: left;
}

.photo-thumbnail-container img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 300ms;
}

.photo-thumbnail-container img:hover {
  cursor: pointer;
  opacity: .7;
}

.parent-container {
  background: #171717;
  margin: 20px auto;
  width: auto;
  height: 600px;
  position: relative;
}

.photo-container {
  margin: auto;
  text-align: center;
  width: auto;
  height: 600px;
}

.photo-container img {
  width: auto;
  height: 100%;
}

.prev-photo {
  width: 60px;
  height: 40px;

  cursor: pointer;

  background: gray;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  position: absolute;
  top: calc(50% - 20px);
  right: 100%;

  opacity: 0;

  transition: all 500ms;
}

.next-photo {
  width: 60px;
  height: 40px;

  cursor: pointer;

  background: gray;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: right;
  position: absolute;
  top: calc(50% - 20px);
  left: 100%;

  opacity: 0;

  transition: all 500ms;
}

.next-photo-text {
  position: absolute;
  top: 12px;
  right: 8px;
  opacity: 0;

  transition: all 500ms;
}

.prev-photo-text {
  position: absolute;
  top: 12px;
  left: 8px;

  opacity: 0;

  transition: all 500ms;
}

.parent-container:hover .next-photo-text {
  opacity: 1;
}

.parent-container:hover .prev-photo-text {
  opacity: 1;
}

.parent-container:hover .next-photo {
  opacity: 1;
  left: calc(100% - 60px);
}

.parent-container:hover .prev-photo {
  opacity: 1;
  right: calc(100% - 60px);
}
