.photo-index-preview {
  margin: 10px;
}

.photo-thumbnail-container {
  margin: 20px;
  width: 100px;
  height: 100px;
  float: left;
}

.photo-thumbnail-container img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 300ms;
}

.photo-thumbnail-container img:hover {
  cursor: pointer;
  opacity: .7;
}

.parent-container {
  margin: 20px auto;
  width: 1000px;
  height: auto;
  position: relative;
}

.photo-container {
  margin: auto;
  text-align: center;
  width: 1000px;
  height: auto;
}

.photo-container img {
  width: 100%;
  height: auto;
}

.prev-photo {
  cursor: pointer;

  background: gray;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  top: 50%
}

.next-photo {
  cursor: pointer;

  background: gray;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: right;
  top: 50%
}
