.profile-photo {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.profile-photo-input  {
  overflow: hidden;
}

.profile-photo-container {
  padding-top: 20px;
  margin: auto;
  width: 220px;
  height: 220px;
}

.profile-photo-container:hover {
}

.profile-photo-container img:only-of-type {
  display: block;
  object-fit: fill;
  z-index: 1;
  position: relative;
}

.profile-photo-container:hover span {
  cursor: pointer;
  opacity: .8;
  color: white;
}

.profile-photo-container span {
  position: absolute;
  top: 255px;
  left: calc(50% - 32px);
  opacity: 0;
  z-index: 1000;
  transition: opacity 300ms;
}

.fileUpload:hover span {
  cursor: pointer;
  opacity: 1;
}

.fileUpload input.upload {
    margin-left: auto;
    padding: 0;
    font-size: 0px;
    opacity: 0;
}

.view-selectors {
  display: block;
  position: relative;
  margin-top: 0px;
  height: 50px;
}

.view-selectors > ul {
  position: absolute;
  left: calc(50% - 190px);
  transition: all 400ms;
}

.view-selectors > ul.album-view {
    left: calc(50% - 290px);
}

.view-selectors li {
  float: left;
  width: 150px;
  background: #f3f3f3;
  color: #494949;
  cursor: pointer;
  // border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  transition: all 300ms;
  opacity: .7;
}

.view-selectors li.album-form-button {
  padding: 0px;
}

.view-selectors li:hover {
  background: #2aaeb8;
  color: #ffffff;
}

.view-selectors li.selected {
  background: #212121;
  color: #f3f3f3;
}

.username-header {
  position: absolute;
  top: 264px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #fff;
}

.header-photo-container {
  overflow: hidden;
  width: 100%;
  height: 307px;
  position: absolute;
  margin-top: 10px
}

.header-photo img {
  width: 100%;
  opacity: .6;
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0px;
}

.header-upload-container {
  position: absolute;
  top: 5px;
  right: 10px;
}

.header-upload-container span {
  transition: opacity 300ms;
  opacity: 0;
  color: white;
  cursor: pointer;
}

.header-photo-container:hover span {
  opacity: .6;
}

.header-upload-container:hover span {
  opacity: 1;
  color: white;
}

.header-upload {
    position: absolute;
    top: 0px;
    right: -80px;
    margin-left: auto;
    padding: 0;
    font-size: 0px;
    opacity: 0;
}
