.login-page {
  min-height: 1000px;
  background-image: url(image_path("jagged.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
}

.login-logo {
  margin-top: 200px;
  width: 400px;
  opacity: .9;
}

.login-header {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.login-form {
  position: relative;
  margin: auto;
  // position: absolute;
  // top: 300px;
  // left: calc(50% - 200px);
  color: white;
  background: rgba(38, 38, 38, 0.5);
  height: 300px;
  width: 400px;
}

.login-form input {
  width: 300px;
  height: 40px;
  font-size: 22px;
  border: 0;
  text-align: center;
  opacity: .8;
  border-radius: 0px;
  padding: 0px;
  border: 0;
}

.username-login {
  margin-top: 60px;
  border-radius: 0px;
  padding: 0px;
  border: 0;
  // position: absolute;
  // -webkit-transform: translateX(-50%);
}

.password-login {
  // position: absolute;
  // -webkit-transform: translate(-50%, 100%);
  margin-top: 0px;
  border-radius: 0px;
  padding: 0px;
  border: 0;
}

.login-form input:focus {
  outline: none;
}

.login-form h3 {
  margin: 18px auto;
  color: white;
  padding: 10px;
  font-size: 28px;
}

.login-button {
  // position: absolute;
  // transform: translate(-50%, 200%);
  // -webkit-transform: translate(-50%, 200%);
  cursor: pointer;
  font-size: 22px;
  background: #58b3ba;
  width: 300px;
  height: 42px;
  transition: background 200ms;
}

.login-button:hover {
  background: #58dcb2;
}

.create-account-link {
  position: absolute;
  bottom: 60px;
  right: 50px;
  background: #58b3ba;
  padding: 5px;
  cursor: pointer;
  transition: background 300ms;
  color: white;
  text-decoration: none;
  width: 140px;
}

.create-account-link:hover {
  background: #58dcb2;
}

.demo-user button {
  width: 140px;
  position: absolute;
  bottom: 60px;
  left: 50px;
  background: #58b3ba;
  padding: 5px;
  cursor: pointer;
  transition: background 300ms;
}

.demo-user button:hover {
  background: #58dcb2;
}
