.big-album-form {
  margin-top: 20px;
  margin-bottom: 30px;
}

.big-album-form button {
  width: 80%;
  height: 80px;
  padding: 10px;
  color: #494949;
  background: #f3f3f3;
  cursor: pointer;
  transition: all 300ms;
}

.big-album-form button:hover {
  background: #2aaeb8;
  opacity: .8;
  color: white;
}
