#dropZone {
  cursor: pointer;
  margin: auto;
  background: transparent;
  width: 500px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  // transition: height 500ms;
}

// #dropZone:hover {
//   height: 300px;
// }

.dropZone-container {
  width: 500px;
  margin: 43px auto 0 auto;
  display: table;
  border-radius: 10px;
  background: #212121;
}

.dropZone-container input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 440px;
  left: 635px;
}

.click-here {
  color: #2aaeb8;
  transition: color 300ms;
}

.dropZone-container:hover .click-here {
  color: #58dcb2;
}
