#dropZone {
  cursor: pointer;
  margin: auto;
  background: transparent;
  width: 500px;
  height: 100px;
  // transition: height 500ms;
}

// #dropZone:hover {
//   height: 300px;
// }

.dropZone-container {
  width: 500px;
  margin: auto;
  display: table;
  border-radius: 10px;
  background: #212121;
}

.dropZone-container input {
  opacity: 0;
}
