// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, h1, ul, li, img, section, figure, button, .button_to, .logout_button, .link {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

html {
    height: 100%;
}

body {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #262626;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

// .button_to:after {
//   content: "";
//   display: block;
//   clear: both;
// }

h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 30px;
}

.logout_div {
  position: relative;
}

.login_logout_button {
  border-radius: 0px;
  border: 0;
  color: white;
  cursor: pointer;
  background: transparent;

  font-size: 15px;

  float: right;
  margin: -10px;
  padding: 10px;

  position: absolute;
  right: 50px;
  bottom: 30px;

  transition: color 200ms;
}

.login_logout_button:hover {
  color: #d26969;
}

// .login_logout_form {
//   border-radius: 0px;
//   border: 0;
//   color: white;
//   cursor: pointer;
//   background: transparent;
//
//   font-size: 15px;
//
//   float: right;
//   margin: 10px;
//   padding: 10px;
//
//   position: absolute;
//   right: 30px;
//
//   transition: color 200ms;
// }
