// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, h1, ul, li, img, section, figure, button, .button_to, .logout_button, .link {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: none;

  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

html {
    min-height: 100%;
}

.app {
  min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #262626;
    // background: #f3f5f6;
    // font-family: sans-serif;
    font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
    color: white;
    text-align: center;
    position: relative;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 30px;
}

.login_logout_div {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20000;
}

.login_logout_button {
  border-radius: 0px;
  border: 0;
  color: white;
  cursor: pointer;
  background: transparent;

  font-size: 15px;

  float: right;
  margin: -10px;
  padding: 10px;

  position: absolute;
  right: 50px;
  bottom: 30px;

  transition: color 200ms;
}

.login_logout_button:hover {
  color: #d26969;
}
